#dialog{:style => "display: none", :title => "Alert message"}
  .ui-dialog-content.ui-widget-content
    %p
      %span.ui-icon.ui-icon-alert{:style => "float: left; margin: 0 7px 20px 0"}
      %label#lblMessage