%nav.top-bar#top_bar_custom{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "#"} My Site
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li.active
        %a{:href => "#"} Right Button Active
      %li.has-dropdown
        - if current_user
          %a{:href => "#"} 
            = "Well Come #{current_user.try(:name)}"
          %ul.dropdown#custom_user_dropdown
            %li
              %a{:href => "#"} First link in dropdown
            %li
              = link_to "Sign Out", destroy_user_session_path
        - else
          = link_to "Sign In", new_user_session_path
    %ul.left
      %li
        %a{:href => "#"} Left Nav Button