.medium-3.columns.hide-for-small-only.left
  .panel
    %a{:href => "#"}
      %img{:src => "http://placehold.it/300x240&text=[img]"}
    %h5
      %a{:href => "#"} Your Name
    .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
      %section.section
        %h5.title
          %a{:href => "#"} Section 1
      %section.section
        %h5.title
          %a{:href => "#"} Section 2
      %section.section
        %h5.title
          %a{:href => "#"} Section 3
      %section.section
        %h5.title
          %a{:href => "#"} Section 4
      %section.section
        %h5.title
          %a{:href => "#"} Section 5
      %section.section
        %h5.title
          %a{:href => "#"} Section 6