.row.right
  .small-2.medium-2.columns
    %label
      = "Email"
  .small-4.medium-4.columns
    %input{:type =>"text", :name => "email"}
.row.right
  .small-2.medium-2.columns
    %label
      = "Password"
  .small-4.medium-4.columns
    %input{:type =>"text", :name => "password"}