%section#secondary_bar
  .user
    %p
      John Doe (
      %a{:href => "#"}> 3 Messages
      )
    / <a class="logout_user" href="#" title="Logout">Logout</a>
  .breadcrumbs_container
    %article.breadcrumbs
      %a{:href => "index.html"} Website Admin
      .breadcrumb_divider
      %a.current Dashboard
/ end of secondary bar