.small-12.medium-12.columns
  %section#secondary_bar
    .user
      %p
        = current_admin.email
        = "("
        = link_to "Logout", destroy_admin_session_path, :method => "delete" 
        = ")"
    .breadcrumbs_container
      %article.breadcrumbs
        %a{:href => "index.html"} Website Admin
        .breadcrumb_divider
        %a.current Dashboard
  / end of secondary bar