.large-3.columns.hide-for-small-only
  .panel
    %a{:href => "#"}
      %img{:src => "http://placehold.it/300x240&text=[img]"}
    %h5
      %a{:href => "#"} Your Name
    .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
      %section.section
        %h5.title
          %a{:href => "#"} Section 1
      %section.section
        %h5.title
          %a{:href => "#"} Section 2
      %section.section
        %h5.title
          %a{:href => "#"} Section 3
      %section.section
        %h5.title
          %a{:href => "#"} Section 4
      %section.section
        %h5.title
          %a{:href => "#"} Section 5
      %section.section
        %h5.title
          %a{:href => "#"} Section 6
.large-6.columns
  - if @feeds.present?
    - binding.pry
    - @feeds.each do |feed|
      %a{:href => "#"}
        .row
          .large-2.columns.small-3
            %img{:src => "#{feed.picture}"}
          .large-10.columns
            .row
              %p
                %strong
                  = feed.title
            .row
              %p
                = feed.content
%aside.large-3.columns.hide-for-small-only
  %p
    %img{:src => "http://placehold.it/300x440&text=[ad]"}
  %p
    %img{:src => "http://placehold.it/300x440&text=[ad]"}
